.navbar {
  width: 100%;
  background: #144eb7;
  padding: 10px 0;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.nav-links a.active {
  font-weight: 700;
  border-bottom: 2px solid white;
}

/* === RIGHT SIDE === */
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

.create-btn {
  background: white;
  color: #144eb7;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.create-btn:hover {
  background: #e7e7e7;
}

.logout-btn {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  cursor: pointer;
  padding: 6px 8px;
  transition: 0.2s ease;
}

.logout-btn:hover {
  color: white;
  text-decoration: underline;
}
